@{
    ViewData["Title"] = "Home Page";
}

    <!-- --------   Main   -------- -->

    <div>

        

        <!-- --------   Content   -------- -->

        <img src="../Media/Photo/main-banner-desktop.webp"/> 

        <!------------ All Context ------------>
        <div class="lg:mx-16">
          <p class="my-2 text-2xl font-bold">تور مسافرتی خارجی و داخلی فلای‌تودی</p>
          <p class="">
              خرید تور راه حلی ایده‌آل برای تجربه سفرهای بیشتر با هزینه‌ای مناسب است. با خرید تورهای مسافرتی تمامی خدمات مرتبط با بلیط هواپیما، رزرو هتل، دریافت ویزا، ترانسفر و برنامه گشت‌وگذار در مقصد خود را به راحتی دریافت کنید. فلای‌تودی امکان خرید تور گردشگری مقاصد مختلف دنیا را با بهترین قیمت و کاملترین خدمات برای شما فراهم کرده است.
              فلای‌تودی یکی از معتبرترین ارائه‌دهندگان انواع تور خارجی، تور داخلی و تور لحظه آخری محسوب می‌شود. به‌طور کلی، خدمات ویژه تور مسافرتی شامل خرید بلیط رفت و برگشت، رزرو هتل، خدمات ویزا، دریافت بیمه مسافرتی، ترانسفر، برنامه بازدید از جاذبه‌ها و تفریحات و ... است.
              برای رزرو تور موردنظر خود در فلای‌تودی، می‌توانید از دو روش زیر استفاده کنید:
          </p>
          <ul>
              <ol>
                  با مراجعه به سایت یا اپلیکیشن فلای‌تودی، فرم موجود در صفحه تور مقصد موردنظر خود را پر کنید تا کارشناسان ما با شما تماس بگیرند.
  
              </ol>
              <ol>
                  به طور مستقیم با بخش تورهای مسافرتی به شماره 42405000 داخلی 4 تماس بگیرید.
              </ol>
          </ul>
  
          <div style="width: 70rem;;" class="mb-0 mt-4 flex h-14 overflow-hidden">
            
              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">همه تور ها</span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>
              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">
                  تور اروپا
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>
              

              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label"> 
                  تور آسیا
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>


              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">
                  تور آفریقا
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>


              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">
                  تور آمریکای جنوبی
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>


              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">
                  تور کروز
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>


              <label class="mx-4 flex cursor-pointer items-center justify-center rounded-full border bg-white text-sm font-medium text-gray-900 shadow-sm hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6">
                <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
                <span id="size-choice-3-label">
                  تور داخلی
                </span>
                <!--
                  Active: "border", Not Active: "border-2"
                  Checked: "border-indigo-500", Not Checked: "border-transparent"
                -->
                <span class="pointer-events-none absolute -inset-px rounded-full" aria-hidden="true"></span>
              </label>
          <!-----
                  <button type="button" class="ring-1 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      همه تور ها
                  </button>
                
  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور اروپا
                  </button>
  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور آسیا
                  </button>
  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور آفریقا
                  </button>
  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور آمریکای جنوبی
                  </button>
  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور کروز
                  </button>
                  
                  <button type="button" class="ring-1 mr-4 inline-flex items-center rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-inset ring-gray-300 hover:bg-gray-50 sm:block">
                      تور داخلی
                  </button>

                  ----->
          </div>
  
        
  
          <!----------------        Selling Items       ---------------->
  
          <div class="lg:space-y-0">
            <div class="max-w-7xl sm:px-6">
              <div class="mx-auto max-w-2xl sm:py-24 lg:max-w-none">
                
                <div class="lg:grid lg:grid-cols-3 lg:gap-x-6">
                  <!---- A Row of pictures------>
                  <div class="">
                    <a href="">
                      <div class="w-full overflow-hidden rounded-2xl border border-gray-300 bg-gray-50 group-hover:opacity-75">
                        <img src="../Media/Photo/barca-cruise.webp" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="object-contain object-top">
                        <h3 class="bold mr-2 mt-1 text-xl font-semibold text-black">
                          <a href="#">
                            
                            مشهد
                          </a>
                        </h3>
                        
                        <p class="font mr-2 mt-1 text-base text-gray-700">Work from home accessories</p>
                        <p class="font mr-2 mt-4 text-base text-gray-700">Price stats from</p>
                        <p class="float-left my-4 ml-2 text-xl font-semibold text-green-900">360,000,000</p>
                        
                        
                      </div>
                    </a>
                    
                  </div>
                  <div class="">
                    <a href="">
                      <div class="w-full overflow-hidden rounded-2xl border border-gray-300 bg-gray-50 group-hover:opacity-75">
                        <img src="../Media/Photo/barca-cruise.webp" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="object-contain object-top">
                        <h3 class="bold mr-2 mt-1 text-xl font-semibold text-black">
                          <a href="#">
                            
                            مشهد
                          </a>
                        </h3>
                        
                        <p class="font mr-2 mt-1 text-base text-gray-700">Work from home accessories</p>
                        <p class="font mr-2 mt-4 text-base text-gray-700">Price stats from</p>
                        <p class="float-left my-4 ml-2 text-xl font-semibold text-green-900">360,000,000</p>
                        
                        
                      </div>
                    </a>
                    
                  </div>
                  <div class="">
                    <a href="">
                      <div class="w-full overflow-hidden rounded-2xl border border-gray-300 bg-gray-50 group-hover:opacity-75">
                        <img src="../Media/Photo/barca-cruise.webp" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="object-contain object-top">
                        <h3 class="bold mr-2 mt-1 text-xl font-semibold text-black">
                          <a href="#">
                            
                            مشهد
                          </a>
                        </h3>
                        
                        <p class="font mr-2 mt-1 text-base text-gray-700">Work from home accessories</p>
                        <p class="font mr-2 mt-4 text-base text-gray-700">Price stats from</p>
                        <p class="float-left my-4 ml-2 text-xl font-semibold text-green-900">360,000,000</p>
                        
                        
                      </div>
                    </a>
                    
                  </div>
                </div>


<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------------>

                <div class="mt-10 lg:grid lg:grid-cols-3 lg:gap-x-6" id="">
                  <div class="">
                    <a href="">
                      <div class="w-full overflow-hidden rounded-2xl border border-gray-300 bg-gray-50 group-hover:opacity-75">
                        <img src="../Media/Photo/barca-cruise.webp" alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." class="object-contain object-top">
                        <h3 class="bold mr-2 mt-1 text-xl font-semibold text-black">
                          <a href="#">
                            
                            مشهد
                          </a>
                        </h3>
                        
                        <p class="font mr-2 mt-1 text-base text-gray-700">Work from home accessories</p>
                        <p class="font mr-2 mt-4 text-base text-gray-700">Price stats from</p>
                        <p class="float-left my-4 ml-2 text-xl font-semibold text-green-900">360,000,000</p>
                        
                        
                      </div>
                    </a>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
    
        </div>
        


    </div>

