@model Final_project_2.Models.Person

@{
    ViewData["Title"] = "CreatePerson";
}

<h1>CreatePerson</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Admin" /> @Html.DisplayNameFor(model => model.Is_Admin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label"></label>
                <input asp-for="Family" class="form-control" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Joined_at" class="control-label"></label>
                <input asp-for="Joined_at" class="form-control" />
                <span asp-validation-for="Joined_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City_And_Country" class="control-label"></label>
                <input asp-for="City_And_Country" class="form-control" />
                <span asp-validation-for="City_And_Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Favorit_food" class="control-label"></label>
                <input asp-for="Favorit_food" class="form-control" />
                <span asp-validation-for="Favorit_food" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Favorit_sport" class="control-label"></label>
                <input asp-for="Favorit_sport" class="form-control" />
                <span asp-validation-for="Favorit_sport" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Actived" /> @Html.DisplayNameFor(model => model.Is_Actived)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Telegram" class="control-label"></label>
                <input asp-for="Telegram" class="form-control" />
                <span asp-validation-for="Telegram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
