@model Final_project_2.Models.Tour

@{
    ViewData["Title"] = "CreateToor";
}

<h1>CreateToor</h1>

<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateToor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tour_Name" class="control-label"></label>
                <input asp-for="Tour_Name" class="form-control" />
                <span asp-validation-for="Tour_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rules" class="control-label"></label>
                <input asp-for="Rules" class="form-control" />
                <span asp-validation-for="Rules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_per_person" class="control-label"></label>
                <input asp-for="Price_per_person" class="form-control" />
                <span asp-validation-for="Price_per_person" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_Acive" /> @Html.DisplayNameFor(model => model.Is_Acive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Quality_level" class="control-label"></label>
                <input asp-for="Quality_level" class="form-control" />
                <span asp-validation-for="Quality_level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status_limit" class="control-label"></label>
                <input asp-for="Status_limit" class="form-control" />
                <span asp-validation-for="Status_limit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image1" class="control-label"></label>
                <input asp-for="Image1" class="form-control" />
                <span asp-validation-for="Image1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image2" class="control-label"></label>
                <input asp-for="Image2" class="form-control" />
                <span asp-validation-for="Image2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image3" class="control-label"></label>
                <input asp-for="Image3" class="form-control" />
                <span asp-validation-for="Image3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image4" class="control-label"></label>
                <input asp-for="Image4" class="form-control" />
                <span asp-validation-for="Image4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image5" class="control-label"></label>
                <input asp-for="Image5" class="form-control" />
                <span asp-validation-for="Image5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_bg" class="control-label"></label>
                <input asp-for="Image_bg" class="form-control" />
                <span asp-validation-for="Image_bg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Touring_area" class="control-label"></label>
                <input asp-for="Touring_area" class="form-control" />
                <span asp-validation-for="Touring_area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
